* {
    margin: 0;
    padding: 0;
}

.comple {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.198);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sma-box {
    border-radius: 10px;
    background: linear-gradient(160deg, rgb(0, 204, 255), rgb(166, 50, 243));
    color: white;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    padding: 0 20px;
    border: black 2px solid;
}

.sma-box:hover {
    box-shadow: 0 0 10px rgba(255, 250, 250, 0.527);
}

.sma-box h1 {
    line-height: 60px;
    margin: 0;
    color: rgb(230, 36, 36);
}

.sma-box h2 {
    line-height: 60px;
}

main {
    width: 100%;
    height: 100vh;
    background-image: url('http://www.51pptmoban.com/d/file/2015/03/08/0bb432f619c04fac4607a79c35b2d777.jpg');
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 50px;
}

p {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 18px;
}

p i {
    padding-left: 180px;
    cursor: pointer;
}

.wrap {
    width: 600px;
    min-width: 600px;
    height: 600px;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgb(122, 121, 121);
    background: linear-gradient(160deg, rgb(0, 204, 255), rgb(166, 50, 243));
}

.card-wrap {
    width: 125px;
    height: 125px;
    border-radius: 10px;
    /* margin-bottom: 20px; */
    /* position: relative; */
}

.card {
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.329);
    cursor: pointer;
    /*preserve the back when fliping*/
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: 0.5s transform ease;
}


/* .card:hover {
    box-shadow: 0 0 10px rgba(255, 250, 250, 0.527);
} */

.card:hover .card-front {
    background-color: rgb(28, 20, 141);
}


/*front card*/

.card-front {
    border-radius: 10px;
    position: absolute;
    background-color: rgb(22, 16, 107);
    width: 100%;
    height: 100%;
    /*hide backface*/
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.329); */
    color: #333;
    top: 0;
    left: 0;
    z-index: 2;
}


/*back card*/

.card-back {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    /*hide backface*/
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: white;
    background-color: rgb(2, 226, 255);
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.active {
    transform: rotateY(180deg);
}

.comp {
    box-shadow: 0 0 10px rgba(255, 250, 250, 0.527);
}